* {
  margin-left: 0px;
  margin-right: 0px;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}
:root {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #666;
  --bg-color: #fff;
  --heading-color: #3f3a64;
  --border-radius: 8px;
  --border-radius-full: 35px;
  --border-color: transparent;
  --border-color-light: #eee;
  --nav-color: #292922;
  --dropdown-color: #fff;
  --iframe-filter: grayscale(0%);
  --bg-grey: #f7f7f7;
  --bg-lightgrey: #f8f9fa;
  --layer: rgba(29, 42, 55, 0.7);
}

[data-theme="dark"] {
  --primary-color: #009f4d;
  --secondary-color: #213364;
  --font-color: #c2c2c2;
  --bg-color: #151421;
  --heading-color: #eee;
  --border-color: rgba(255, 255, 255, 0.2);
  --border-color-light: rgba(255, 255, 255, 0.1);
  --nav-color: #fff;
  --dropdown-color: #121725;
  --iframe-filter: grayscale(100%);
  --bg-grey: #100f19;
  --bg-lightgrey: #100f19;
  --layer: rgba(29, 42, 55, 0.8);
}
li {
  list-style: none;
}
.radius-image {
  border-radius: var(--border-radius);
}

.radius-image-full {
  border-radius: var(--border-radius-full);
}

/* Star Header */
header.nav-fixed {
  padding: 0px;
  background-color: #151421;
  height: 80px;
  border-bottom: none;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
}
header#site-header.main-header {
  padding: 0px;
  transition: all 0.4s ease 0s;
  height: 100px;
  display: grid;
  align-items: center;
  z-index: 10;
  border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.container {
  width: 100%;
  max-width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  justify-content: space-between;
}
.navbar .navbar-brand {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
}

.navbar .navbar-brand span.Logo {
  font-size: 14px;
  text-transform: none;
  display: block;
  padding-left: 46px;
  font-weight: 600;
  opacity: 0.9;
}

.navbar .navbar-brand span.fa {
  color: #009f4d;
  margin-right: 5px;
  vertical-align: bottom;
}

#primary-menu ul {
  margin-left: 100px;
  margin-right: 100px;
}

.navbar-expand-lg .navbar-nav .nav-item {
  padding: 0 12px;
  transition: all 0.5s ease;
  position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link {
  transition: all 0.5s ease;
  padding: 14px 0 10px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  opacity: 0.8;
  text-transform: uppercase;
}
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #ffffff;
  opacity: 1;
}
.control {
  cursor: pointer;
}
.btn-material {
  line-height: 45px;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  box-sizing: border-box;
  background: #009f4d;
  outline: 0;
  color: #fff;
  transform-origin: 50%;
  transition: all 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}
.control .icon-material-search {
  transition: opacity 0.3s ease-in-out;
}
.header-search .icon-close {
  position: absolute;
  color: #fff;
  cursor: pointer;
  font-size: 70px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.search-input {
  height: 80px;
  position: absolute;
  top: 50%;
  left: 50px;
  margin-top: -40px;
  pointer-events: none;
  opacity: 0;
  transform: translate(40px, 0);
  transition: all 0.3s ease-in-out;
  width: 88%;
}
.search-input input {
  color: #fff !important;
  font-size: 54px;
  border: 0;
  background: transparent;
  /* -webkit-appearance: none; */
  box-sizing: border-box;
  outline: 0;
  font-weight: 200;
  height: 100vh;
  width: 100%;
}

/* End header */
/* Star carousel */
#carousel .carousel-inner .carousel-item img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}
#carousel .carousel-inner {
  height: 750px;
}
.shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  fill: white;
}
.overplay {
  position: absolute;
  background: rgb(30, 45, 57);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
.carousel-item::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(29 42 55 / 80%);
  top: 0;
  left: 0;
}
.shape {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* End carousel */
/* Star about us*/
.h2 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.h3 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}
ul .list {
  text-transform: none;
  list-style: none;
}
.list li a {
  text-decoration: none;
  display: block;
  color: black;
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

ul.list li a i.fa {
  color: #009f4d;
  margin-right: 5px;
  opacity: 0.8;
}
.radius-image {
  border-radius: 8px;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
/* End about us */
/* Star Feature */
#feature {
  background: #f7f7f7;
}
.left h4 {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
  color: #7e7d7d;
  letter-spacing: 1px;
  text-transform: uppercase;
  display: block;
}

.left h3 {
  font-weight: 700;
  font-size: 35px;
  line-height: 45px;
}

.left button {
  background: #009f4d;
  padding: 10px 30px;
  cursor: pointer;
  color: #f7f7f7;
  border-radius: 20px solid #009f4d;
  border: none;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.5s;
}
.left button:hover {
  border-radius: 20px;
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}

#feature .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 25px;
}

#feature .box-warp {
  padding: 40px 30px;
  border-radius: 8px;
  text-align: center;
  box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
  background-color: #fff;
  transition: 0.3s ease;
}

#feature .box-warp h4 a {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  margin-top: 25px;
  display: block;
  color: #3f3a64;
  text-decoration: none;
  transition: 0.3s ease;
}

#feature .item-1:hover {
  color: #009f4d;
  transform: translateY(-30px);
  box-shadow: rgba(46, 41, 51, 0.08) 0px 2px 4px,
    rgba(71, 63, 79, 0.16) 0px 5px 10px;
  top: 20px;
}
#feature .box-warp:hover {
  color: #009f4d;
}

/* #feature .box-warp h4 a:hover{
  color: #009f4d;
  top: 20px;
  transform: translateY(-10px);
}  */
@media (max-width: 1280px) {
  #feature .buttons-top {
    margin-top: 3em;
    padding-top: 2em;
  }
}

@media (max-width: 1080px) {
  #feature h3.ban-text-2 {
    font-size: 34px;
  }
  #feature .section-title-left {
    font-size: 1.8em;
  }
}

@media (max-width: 992px) {
  #feature .order2 {
    order: 2;
  }
  #feature .order1 {
    order: 1;
  }
}

@media (max-width: 800px) {
  #feature .grids-1 {
    padding: 1.5em;
  }
  #feature .w3l-feature-grid {
    padding: 60px 0;
  }
}

@media (max-width: 667px) {
  #feature h3.ban-text-2 {
    font-size: 32px;
  }
  #feature p.text-para {
    margin: 14px 0 26px;
  }
  #feature h4 a.title-head {
    font-size: 18px;
  }
  #feature .call-grid-sub-2 {
    margin-top: 1.5em;
  }
  #feature .buttons-top {
    margin-top: 2em;
  }
  #feature .title-left {
    font-size: 1.5em;
    margin-bottom: 0.8em;
  }
}

@media (max-width: 568px) {
  #feature h3.ban-text-2 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  #feature .call-grids-w3 .icon img {
    width: 45px;
  }
  #feature p.text-para {
    margin: 0px;
    margin-bottom: 10px;
  }
  #feature h4 a.title-head {
    margin-bottom: 7px;
  }
  #feature .call-grid-sub-2 {
    margin-top: 1em;
  }
  #feature .grid {
    padding: 50px 0;
  }
  #feature .button-effe-2 {
    margin-top: 0px;
  }
}

@media (max-width: 440px) {
  #feature .call-grids-w3 {
    /* grid-template-columns: 1fr; */
    grid-gap: 15px;
  }
  #feature .grids-1 {
    padding: 1.5em 1em;
  }
  #feature .section-title-left {
    font-size: 1.5em;
  }
}

@media (max-width: 415px) {
  #feature h3.ban-text-2 {
    font-size: 26px;
    line-height: 32px;
  }
  #feature ul.list li {
    font-size: 15px;
  }
}

@media (max-width: 384px) {
  #feature h4 a.title-head {
    font-size: 18px;
    margin-top: 15px;
  }
  #feature .section-title-left {
    font-size: 1.3em;
  }
  #feature .w3l-mobile-progress .mobile-right-info h6 a {
    font-size: 18px;
  }
}

@media (max-width: 320px) {
  #feature .call-grids-w3 {
    display: block;
  }
  #feature .grids-1.grids-effect-2 {
    margin-top: 1em;
  }
  #feature .call-grid-sub-2 {
    margin-top: 0;
  }
}

.gallery {
  background: var(--bg-lightgrey);
}
.title__small {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
}
.align-self {
  align-self: center;
}
.title__big {
  font-size: 35px;
  line-height: 45px;
  font-weight: 700;
}

.gallery a.zoom {
  overflow: hidden;
  position: relative;
}

.gallery a.zoom img {
  transition: 0.3s ease-in-out;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.gallery a:hover img {
  overflow: hidden;
  transform: scale(1.1);
  transition: 0.3s ease-in-out;
}

.gallery span.hover__content {
  position: absolute;
  bottom: -100%;
  left: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  padding: 46px 50px;
  color: #ffffff;
  z-index: 2;
}

.gallery span.hover__content .title {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
  display: block;
  margin-bottom: 10px;
}

.gallery span.hover__content .content {
  font-size: 18px;
  color: #eee;
  display: block;
}

.gallery .overlay__hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--layer);
  transition: all 0.3s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}

.gallery a.zoom:hover .hover__content {
  bottom: 0;
  visibility: visible;
  opacity: 1;
}

.gallery a.zoom:hover .overlay__hover {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 480px) {
  .gallery span.hover__content {
    padding: 36px 40px;
  }
}
/* Progress */
.capstone__progress .progress {
  display: flex;
  height: 4px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: var(--bg-grey);
  border-radius: 0.25rem;
}

.capstone__progress .progress__info {
  margin-bottom: 30px;
  text-align: left;
  position: relative;
}

.capstone__progress .progress__bar {
  background-color: var(--primary-color);
  transition: width 0.6s ease;
}

.capstone__progress .progress__bar.gradient-1:before,
.capstone__progress .progress__bar.gradient-2:before,
.capstone__progress .progress__bar.gradient-3:before,
.capstone__progress .progress__bar.gradient-4:before {
  height: 28px;
  width: 28px;
  border: 1px solid;
  opacity: 0.3;
}

.capstone__progress .progress__bar.gradient-1:after,
.capstone__progress .progress__bar.gradient-2:after,
.capstone__progress .progress__bar.gradient-3:after,
.capstone__progress .progress__bar.gradient-4:after {
  height: 13px;
  width: 13px;
  border: 3px solid;
  background-color: var(--bg-color);
}

.capstone__progress .progress__bar.gradient-1 {
  color: #61fded;
  background-color: #0d8abc;
  background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

.capstone__progress .progress__bar.gradient-1:after,
.capstone__progress .progress__bar.gradient-1:before {
  content: "";
  position: absolute;
  right: 20%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.capstone__progress .progress__bar.gradient-2 {
  color: #eece90;
  background-color: #d45529;
  background-image: linear-gradient(-224deg, #d45529, #eece90);
}

.capstone__progress .progress__bar.gradient-2:after,
.capstone__progress .progress__bar.gradient-2:before {
  content: "";
  position: absolute;
  right: 5%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.capstone__progress .progress__bar.gradient-3 {
  color: #5c51ff;
  background-color: #f646a9;
  background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

.capstone__progress .progress__bar.gradient-3:after,
.capstone__progress .progress__bar.gradient-3:before {
  content: "";
  position: absolute;
  right: 40%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.capstone__progress .progress__bar.gradient-4 {
  color: #e5529a;
  background-color: #e77654;
  background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

.capstone__progress .progress__bar.gradient-4:after,
.capstone__progress .progress__bar.gradient-4:before {
  content: "";
  position: absolute;
  right: 15%;
  top: 90%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}

.capstone__progress .progress__bar-striped {
  background-image: none;
  background-size: cover;
}

.capstone__progress h6.progress__tittle {
  font-size: 18px;
  color: var(--heading-color);
  margin-bottom: 10px;
  font-weight: 400;
}

.capstone__progress .info1 h6.progress__tittle {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 80%;
}

.capstone__progress .info2 h6.progress__tittle {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 95%;
}

.capstone__progress .info3 h6.progress__tittle {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 60%;
}

.capstone__progress .info4 h6.progress__tittle {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 85%;
}
/* Testimonial */
#testimonials {
  background: var(--bg-lightgrey);
}
#testimonials .testimonial {
  display: block;
  padding: 40px 30px;
  position: relative;
  border: none;
  max-width: 900px;
  margin: auto;
  position: relative;
  overflow: hidden;
  text-align: center;
}
#testimonials .testimonial blockquote {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  position: relative;
  margin-bottom: 1.5em;
}
#testimonials .testimonial blockquote q {
  font-size: 18px;
  line-height: 28px;
  color: var(--font-color);
  opacity: 0.8;
}
#testimonials .testimonial__des {
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  text-align: left;
  grid-gap: 20px;
}
#testimonials .testimonial__des .testimonial__img {
  width: 70px;
  height: 70px;
  display: inline-block;
  overflow: hidden;
  background: var(--bg-color);
  border-radius: 50%;
}
#testimonials .testimonial img {
  width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}
#testimonials .testimonial .people h3 {
  margin: 0;
  font-weight: 600;
  font-size: 20px;
}
#testimonials p.indentity {
  font-style: normal;
  margin-bottom: 0;
  opacity: 0.8;
}
.owl-two.owl-carousel.owl-theme .owl-dots {
  position: inherit;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin-top: 80px;
}

.owl-two.owl-theme .owl-dots .owl-dot.active span,
.owl-two.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--secondary-color);
  opacity: 1;
}

.owl-two.owl-theme .owl-dots .owl-dot span {
  background: var(--secondary-color);
  opacity: 0.5;
}
.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav {
  display: block;
}

/* .owl-dots {
  margin-top: 0px;
  position: absolute;
  left: 0px;
  right: 0;
  bottom: 30px;
  background: none;
} */

#testimonials .owl-dots {
  margin-top: 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -30px;
  background: none;
  display: block;
}

.owl-theme .owl-nav [class*="owl-"] {
  color: #fff;
  font-size: 20px;
  margin: 0px;
  width: 46px;
  background: rgba(255, 255, 255, 0.21);
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 46px;
  line-height: 15px;
  border-radius: 50%;
}

.owl-theme .owl-nav [class*="owl-"]:hover {
  background: var(--bg-color);
  opacity: 1;
  color: var(--primary-color);
  text-decoration: none;
  outline: none;
  box-shadow: none;
  transition: 0.3s ease-in-out;
}

.owl-theme .owl-nav [class*="owl-"]:focus,
.owl-theme:focus,
.owl-dots:focus,
.owl-dot:focus {
  outline: none;
  box-shadow: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  background: transparent;
}

.owl-theme .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 5px 2px;
  background: #aaa;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 0.2s ease;
  position: relative;
  opacity: 0.9;
  border-radius: var(--border-radius);
}

button.owl-next,
button.owl-prev {
  position: absolute;
  bottom: 50%;
}

button.owl-prev {
  left: 20px;
}

button.owl-next {
  right: 20px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background: var(--bg-color);
  transform: scale(1.5);
}

.owl-theme .owl-dots .owl-dot span {
  transition: 0.3s;
}

.owl-theme .owl-dots .owl-dot.active span {
  transform: scale(1.5);
}
.owl-theme .owl-dots .owl-dot {
  padding: 1px 6px !important;
}
.news-blog .news-list {
  display: flex;
  justify-content: space-between;
}
.news-blog .news-list .card_item {
  width: 31.5%;
}

.news-blog .news-list .card_item .item-content > a {
  overflow: hidden;
  transition: all 0.4s;
}
.news-blog .news-list .card_item .item-content > a:hover {
  color: #00732c;
}
.news-blog .news-list .card_item .item-content > a,
.news-blog .news-list .card_item .item-content > a img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  transition: all 0.7s;
}
.news-blog .news-list .card_item:hover .item-content > a img {
  scale: 1.1;
}
.news-blog .news-list .card_item .item-footer {
  border-top: 1px solid rgba(204, 204, 204, 0.723);
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.news-blog .news-list .card_item .item-content a {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--heading-color);
  margin-top: 10px;
  display: block;
  text-decoration: none;
}
.news-blog .news-list .card_item .item-content {
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  display: block;
  color: var(--heading-color);
  overflow: hidden;
  /* margin-top: 10px; */
}
.container {
  max-width: 1200px;
}
.news-blog .news-list .card_item .item-footer .gray-content {
  font-size: 17px;
  color: #999;
  font-weight: 400;
  padding-left: 20px;
}
.news-blog .blog-content h3 {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 30px;
  letter-spacing: 1px;
  color: #7e7d7d;
  display: block;
  text-align: center;
}
.news-blog .news-list .card_item .item-footer a {
  color: var(--heading-color);
  font-weight: 600;
  text-transform: capitalize;
  font-size: 16px;
  padding: 0 5px;
  transition: all 0.7s;
}
.news-blog .news-list .card_item .item-footer a:hover {
  color: #008030;
  text-decoration: none;
}

.news-blog .news-list .card_item .item-footer .gray-content {
  padding-left: 5px;
  margin-top: 12px;
}
.news-blog .news-list .card_item .item-content p > a {
  padding: 0 15px;
  font-size: 17px;
  color: #999;
  font-weight: 400;
}
.footer-w3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-w3 img {
  width: 50px;
  height: 50px;
}

.news-blog .blog-content h1 {
  text-align: center;
  color: var(--heading-color);
  line-height: 45px;
  font-weight: 700;
  font-size: 35px;
}
.project {
  background-image: url(./img/map.png);
  background-color: #151421;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.project .project-content .project-header h3 {
  color: #fff;
}
.project .project-content .project-header p {
  color: #eee;
}
.project .project-content .subscribe {
  position: relative;
  display: grid;
  grid-template-columns: 50px 1fr auto;
  max-width: 550px;
  margin: auto;
  margin-top: 25px;
}
.project .project-content .subscribe .label {
  background-color: rgba(0, 0, 0, 0.25);
  /* border-color: rgba(255, 255, 255, 0.15); */
  padding: 0 15px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  color: #999;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
.project .project-content .subscribe button:hover {
  color: #fff;
  background-color: #008030;
  border-color: #00732c;
}
.project .project-content .subscribe button {
  transition: all 0.4s;
}
.project .project-content .subscribe .label i {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  line-height: 54px;
}
.project .project-content .subscribe input {
  padding: 14px 20px;
  font-size: 16px;
  line-height: 28px;
  border: 1px solid #eee;
  outline: none;
  width: 100%;
  background: var(--bg-color);
  border-radius: 0;
  color: #999;
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(255, 255, 255, 0.15);
  border-left: none;
}
.project .project-content .subscribe button {
  border-bottom-left-radius: 0;
  padding: 0 25px;
  font-size: 16px;
  border-top-left-radius: 0;
  background: #000;
}
.project .project-content .subscribe .btn-primary {
  color: #fff;
  background-color: #00a63f;
  border-color: #00a63f;
}
.project .project-content .subscribe button:hover {
}
.nav-brand .label-logo span i {
  padding-right: 10px;
}
.nav-brand .label-logo span {
  font-weight: 600;
  text-transform: capitalize;
  padding-left: 5px;
}
.row-content2 .footer-item li {
  padding-bottom: 10px;
}

.nav-brand .logo {
  padding-left: 44px;
  opacity: 0.9;
}
.footer-main {
  background: #151421;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer-main .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -50px;
  margin-left: -50px;
}
.row-content1 {
  width: 30%;
  padding-right: 40px;
}
.row-content1 .footer-item a {
}
.row-content1 .footer-item > span {
  display: inline-block;
  padding-bottom: 1px;
}
.row-content2 {
  width: 20%;
}
.row-content1 .footer-item .footer-text {
  /* margin-bottom: -2px; */
  margin-bottom: 2px;
}
.row > .footer-list-29 {
  color: #fff;
  opacity: 1;
  margin-bottom: 25px;
}
.footer-item > a,
.footer-item > span,
.footer-item > p {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
  text-decoration: none;
}
.footer-item ul li {
  list-style: none;
  margin-left: -40px;
}
.footer-item a:hover {
  text-decoration: none;
  color: white;
}
.footer-item a {
  color: #97a1a9;
  text-align: left;
  transition: all 0.7s;
}
.social-item a:hover {
  color: white;
}
.footer-main .nav-brand {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  opacity: 1;
}
.footer-title {
  color: white;
  margin-bottom: 25px;
}
.footer-main .row > p {
  font-size: 18px;
  line-height: 28px;
  color: #97a1a9;
}
.footer-main .logo {
  display: block;
  font-size: 14px;
  /* padding-left: 46px; */
  font-weight: 600;
  opacity: 0.9;
  text-transform: none;
  margin-bottom: 25px;
}
.footer-main .nav-brand span:first-of-type i {
  margin-right: 5px;
  vertical-align: bottom;
  color: #009f4d;
  font-size: 30px;
}

.footer-main .social-item {
  display: inline-block;
  font-size: 16px;
  background: none;
  border-radius: 50%;
  transition: 0.3s;
  color: #97a1a9;
  margin-right: 15px;
  opacity: 0.6;
  text-align: center;
  transition: all 0.6s;
}
.social-item i {
  padding-right: 20px;
}
.footer-main .fa {
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
}
.footer-copyright {
  padding: 1.5em 0;
  border-top: 1px solid rgba(249, 249, 249, 0.1);
}
.footer-copyright p.copy-footer-29 {
  align-self: center;
  color: #7f8a94;
  font-size: 17px;
  letter-spacing: 0.5px;
  opacity: 1;
}
.footer-copyright .copy-footer-29 a {
  color: #009f4d;
}
.footer-copyright button {
  display: none;
}
.footer-copyrightt #movetop {
  position: fixed;
  bottom: 20px;
  border: none;
  right: 20px;
  z-index: 99;
  font-size: 18px;
  outline: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  background: #009f4d;
  padding: 0;
  display: none;
  line-height: 36px;
  border-radius: 35px;
  transition: 0.3s ease-out;
  color: #fff;
}
/* @media (min-width: 1280px)
.container {
    max-width: 1200px;
}
@media (min-width: 1200px)
.container {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 992px)
.pb-lg-5, .py-lg-5 {
    padding-bottom: 3rem !important;
}
@media (min-width: 992px)
.pt-lg-5, .py-lg-5 {
    padding-top: 3rem !important;
}
@media (min-width: 768px)
.pb-md-4, .py-md-4 {
    padding-bottom: 1.5rem !important;
}
@media (min-width: 768px)
.pt-md-4, .py-md-4 {
    padding-top: 1.5rem !important;
} */
/* END HomePage Blog Posts */
